header{
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

.container{
width: 80%;
margin: 0 auto;
}

.logo h2{
    margin-bottom: 1rem;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
._nav{
    width: 55%;
    background-color: #000;
    padding: 1rem;
}
._nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 1rem;

}

._nav ul li{
 
    transition: all .3s linear;
}

._nav ul li:first-child,._nav ul li:hover{
    color: grey;
}

